.star-rating {
  display: inline-flex;
  flex-direction: row-reverse;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 35px;
  color: gray;
  cursor: pointer;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}